* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Encabezado*/
/*Promo*/
nav .promo {
  background-color: #ff8080;
  height: 30px;
  color: #000000;
  text-align: center;
  font-family: "Mulish", sans-serif;
}
/* Menu usuario */
nav .menu-usuario {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}
/*Redes*/
.redes {
  text-align: right;
  margin-top: 1rem;
}
.redes ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.redes i {
  color: #ff8080;
}
/*Logo*/
.logo {
  text-align: center;
  margin-top: -1.5rem;
}
.logo img {
  width: 175px;
  height: 150px;
}
/*Cliente*/
nav .cliente {
  text-align: end;
  margin: 1rem 2rem;
}
.cliente i {
  color: #ff8080;
}
/*Barra de Navegacion*/
nav .barra-nav {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}
/*Busqueda*/
nav .busqueda {
  text-align: start;
  margin-left: 2rem;
}
.busqueda i {
  color: #ff8080;
  font-size: 1.4rem;
}
/*Menu de Navegacion*/
.menu-nav ul {
  display: flex;
  justify-content: space-around;
  align-content: center;
  list-style: none;
}
.menu-nav a {
  color: #000000;
  font-size: 1rem;
  text-decoration: none;
  font-family: "Mulish", sans-serif;
}
nav .carrito {
  text-align: end;
  margin-right: 2rem;
}
.carrito i {
  color: #ff8080;
  font-size: 1.4rem;
}
/* Main section(inicio) */
.main-section {
  display: flex;
  margin: 2rem auto;
}
.main-section a {
  text-decoration: none;
}
.section-mu {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-image: linear-gradient(rgba(0 0 0 / 0.5), rgba(0 0 0 / 0.5)),
    url(../assets/mujeres.jpg);
  background-size: cover;
  width: 500px;
  height: 500px;
}
.section-mu h2 {
  color: #ffffff;
  font-size: 4rem;
}
/* SECCION HOMBRE */
.section-ho {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-image: linear-gradient(rgba(0 0 0 / 0.5), rgba(0 0 0 / 0.5)),
    url(../assets/hombres.jpg);
  background-size: cover;
  width: 500px;
  height: 500px;
}
.section-ho h2 {
  color: #ffffff;
  font-size: 4rem;
}
/* SECCION NIÑOS */
.section-ni {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-image: linear-gradient(rgba(0 0 0 / 0.5), rgba(0 0 0 / 0.5)),
    url(../assets/niños.jpg);
  background-size: cover;
  width: 500px;
  height: 500px;
}
.section-ni h2 {
  color: #ffffff;
  font-size: 4rem;
}
/*MAIN Section2*/
main .main-section2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 4rem;
  justify-items: center;
  align-items: center;
}
.main-section2 h3 {
  color: #000000;
}
.info1,
.info2,
.info3 {
  background-color: #ff8080;
  width: 420px;
  height: 300px;
  padding-top: 2rem;
}
.info1,
.info2,
.info3,
i {
  text-align: center;
  font-size: 1.5rem;
  color: #000000;
}
.info1,
.info2,
.info3,
p {
  font-size: 1rem;
}
/*Main Mujeres hombres y niños*/
main section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
  grid-row-gap: 7rem;
}
section img {
  width: 328px;
  height: 384px;
}

/*Main Pagina (Contacto)*/
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin: 3rem auto;
}

.container ul {
  list-style: none;
  padding: 0;
}

.perg-titulo {
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.perg-titulo span {
  color: #ff8080;
}

.wrapper {
  box-shadow: 0 0 20px 0 #ff8080;
}

.wrapper > * {
  padding: 1em;
}
/* PERGOLA INFORMACION */
.perg-info {
  background: #ff8080;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.perg-info ul {
  text-align: center;
  margin: 0 0 1rem 0;
}
/* CONTACTO-FORM */
.contacto {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.contacto form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.contacto form label {
  display: block;
}
.contacto form p {
  margin: 0;
}
.contacto form .ancho {
  grid-column: 1 / 3;
}
.contacto form button,
.contacto form input,
.contacto form textarea {
  width: 100%;
  padding: 1em;
  border: solid 1px #ff8080;
  border-radius: 4px;
}
.contacto form textarea {
  resize: none;
}
.contacto form button {
  background: #ff8080;
  border: 0;
  color: #e4e4e4;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}
.contacto form button:hover,
.contacto form button:focus {
  background: #ff8080;
  color: #ffffff;
  outline: 0;
  transition: background-color 2s ease-out;
}

/*UBICACION*/
main .ubicacion {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 3rem;
}
.mapa,
.video-local {
  box-shadow: 0 0 20px 0 #ff8080;
}

/*Main Pagina (Sobre nosotros)*/
main .sobre-nosotros {
  width: 1200px;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem auto;
  border-radius: 20px;
  box-shadow: 5px 8px 12px #ff8080;
  background-image: linear-gradient(rgba(0 0 0 / 0.5), rgba(0 0 0 / 0.5)),
    url(../assets/sobre-nosotros.jpg);
  background-size: cover;
}
.info-empresa h3 {
  font-size: 3rem;
  color: #ffffff;
}
main .info-empresa p {
  color: white;
  text-align: center;
  font-size: 1.5rem;
}
.info-empresa a {
  text-decoration: none;
  color: #ff8080;
  font-family: "Mulish", sans-serif;
}
/*Nuestras Marcas*/
.img-marcas {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.img-marcas img {
  width: 100px;
  height: 100px;
  filter: grayscale(100%);
}

/* TITULOS H2,H3 */
h2 {
  font-size: 3rem;
  text-align: center;
  color: #000000;
  font-family: "Great Vibes", cursive;
  margin: 2rem;
}
h2 i {
  color: #ff8080;
}
h3 {
  margin: 2rem;
  text-align: center;
  font-size: 2rem;
  color: #ff8080;
  font-family: "Mulish", sans-serif;
}

/* Aside*/
aside .red-social {
  display: flex;
  justify-content: center;
  margin: 2rem;
}
.red-social i {
  color: #ff8080;
  margin: 0 1.5rem;
}
.face,
.ig {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}
.face img {
  width: 175px;
  height: 175px;
}
.ig img {
  width: 175px;
  height: 175px;
}

/* Footer Copyright*/
.footer {
  display: flex;
  justify-content: space-between;
  background-color: #ff8080;
  font-size: 1.2rem;
  font-family: "Mulish", sans-serif;
  color: #000000;
}
.footer i {
  color: #000000;
  font-size: 1.2rem;
  margin: 2rem;
}
/* MEDIA QUERIES MAIN(CONTACTO) */

@media only screen and (min-width: 700px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .wrapper > * {
    padding: 2em;
  }

  .perg-info {
    border-radius: 4px 0 0 4px;
  }

  .contacto {
    border-radius: 0 4px 4px 0;
  }

  .perg-info h3,
  .perg-info ul,
  .perg-titulo {
    text-align: left;
  }
}
