/*Extend*/
%seccionesIndex {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-size: cover;
  width: 500px;
  height: 500px;
}

%redesSociales {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  width: 100%;
  height: 250px;
}
