/*Maps*/
$titulosUno: (
  f-size: 3rem,
  text-alig: center,
  col: #000000,
  font-fa: "Great Vibes",
  margen: 2rem,
);

$tituloDos: (
  f-size: 2rem,
  text-alig: center,
  col: #ff8080,
  font-fa: "Mulish",
  margen: 2rem,
);
