/*Variables*/
/*--Colores--*/
$colorUno: #ff8080;
$colorDos: #000000;
$colorTres: #ffffff;
$ColorCuatro: #e4e4e4;
$colorCinco: rgba(0, 0, 0, 0.5);
/*--Tipo de Letras--*/
$ffUno: "Great Vibes", cursive;
$ffDos: "Mulish", sans-serif;

/*Tamaño de fuente*/
$fsUno: 3rem;
$fsDos: 2rem;
$fsTres: 1.5rem;

/*Border Radius*/
$brUno: 50%;
$brDos: 0 4px 4px 0;
$brTres: 4px 0 0 4px;
/*Margin*/
$marginUno: 3rem;
$marginDos: 2rem;
$marginTres: 0;
/*Alineacion*/
$textaUno: center;
$textaDos: left;
$textaTres: right;
